* {
    box-sizing: border-box;
    margin: 0;
    color: var(--white);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger i {
    font-size: 24px;
    margin-right: 20px;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: var(--black);
    padding: 16px;
    border-radius: 4px;
    text-align: center;
    z-index: 1000;
    box-shadow: rgba(196, 196, 196, 0.25) 0px 50px 100px -20px, rgba(183, 183, 183, 0.3) 0px 30px 60px -30px;
}

.dropdown-menu a {
    margin: 10px 0;
    font-family: "Poppins", sans-serif;
}


.close-btn {
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    font-weight: 900;
}



.header {
    background-color: black;
    color: white;
}


.logo {
    height: 28px;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 4px 16px 4px;
    text-transform: uppercase;

}

ul a {
    text-decoration: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    padding-left: 8px;
    padding-right: 8px;
}

ul a:hover, .dropdown-menu a:hover {
    transition: all 0.5s;
    text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 25px #ffffff, 0 0 30px #ffffff;
}

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:hover:after {
    width: 100%;
    left: 0;
}




:root {
    --black: #000000;
    --white: #FFFFFF;
    --pink: #ff0080;
    --blue: #06C4DA;
    --yellow: #ffd300;
    --hover-black: #959595;
}


.banner {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 2% 10% 2% 10%;
    background-color: var(--black);
    /*flex-wrap: wrap;*/

}

.banner-text {
    width: 100%;
    padding: 16px;
}

h1 {
    font-family: "League Spartan", sans-serif;
    font-weight: 900;
    font-size: 36px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
}

.greeting {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.animated-text {                         /*from https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
    color: var(--black);
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0 16px 0;
    min-width: 280px;
    max-width: 100%;
    background-color: var(--black);
    border-radius: 4px;
    border: 1px solid var(--black);
    box-shadow: 4px 4px 0 0 var(--black);
}

.animated-text span{                    /*from https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
    position: relative;
}

.animated-text span::before{                /*from https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
    content: "Hello";
    color: var(--pink);
    animation: words 20s infinite;
}

.animated-text span::after{             /*from https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: var(--black);
    border-left: 2px solid var(--pink);
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

.animation-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0 16px 0 16px;
    justify-content: center;
    animation: float 6s ease-in-out infinite;


}

.image-background-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, var(--blue), var(--yellow), var(--pink), var(--blue));
    background-size: 400% 400%;
    max-width: 500px;
    max-height: 500px;
    animation: gradient 12s ease infinite;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 80px 0 rgb(87, 87, 87);  /*from https://getcssscan.com/css-box-shadow-examples */

}

.image-background-circle img {
    max-width: 100%;
    max-height: 100%;

}

@keyframes cursor {                     /*from https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {                      /*from https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
    0%,20%{
        content: "Line Svensen";
    }
    21%,40%{
        content: "a developer";
    }
    41%,60%{
        content: "an UX designer";
    }
    61%,80%{
        content: "an entrepreneur";
    }
    81%,100%{
        content: "an enthusiast";
    }
}

@keyframes typing {                     /*from https://www.darkcode.info/2023/04/typing-text-animation-using-only-html.html*/
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

@keyframes float {
    0% {

        transform: translatey(0px);
    }
    50% {

        transform: translatey(-12px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes gradient {               /*from https://dev.to/babib/amazing-pure-html-and-css-background-animations-4dim */
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@media (max-width: 700px) {

    .banner {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 16px 16px 16px 16px;
        align-items: center;
    }

    h1 {
        font-size: 32px;
    }

    .banner-text {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        gap: 0;
    }

    .greeting {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        padding-left: 20%;
        padding-right: 5%;
        overflow: hidden;
    }

    .banner-text h2 {
        font-size: 28px;
    }

    .animated-text {
        display: flex;
        justify-content: flex-start;
    }

    .animation-container {
        max-width: 60%;
        padding-top: 16px;
        padding-bottom: 16px;
    }

}

@media (min-width: 700px) {
    .menu {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 16px 5% 16px 10%;
        text-transform: uppercase;
    }

    ul a {
        text-decoration: none;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        padding-left: 20px;
        padding-right: 20px;
    }

}


@media (max-width: 500px) {
    .nav-item {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

